.element__text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 25px 15px 26px 21px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
