.header__user-name {
    padding: 45px 0px 40px 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", "Arial", "sans-serif";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
}
