.profile__avatar {
    margin: 0;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: opacity 0.2s ease-out;
}
@media screen and (max-width: 684px) {
    .profile__avatar {
        margin: 0 auto;
    }
}
.profile__avatar:hover {
    opacity: 0.3;
}
